/* Main rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing:border-box
}
:root {
    --back-color: #256D85;
    --game-back-color: #06283D;
    --line-color: #47B5FF;
    --sec-color: #F66B0E;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
}
body {
    font-family: 'Nunito' , 'Open Sans', Arial;
    background-color: var(--back-color);
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
}
/* Main rules */

/* Informations icon styling */
.informations {
    position: absolute;
    top: 20px;
    right: 30px
}
.icon-content-container {position: relative}
.informations-icon {
    color: white;
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 13px;
    box-shadow: 0 0 4px white;
}
.informations-content {
    position: absolute;
    top: 0;
    left: -215px;
    width: 200px;
    padding: 10px;
    background-color: white;
    opacity: .8;
    z-index: 5;
    display: none
}
.show-info {display: block}
.informations-content p {
    text-align: center;
    line-height: 1.4;
    font-weight: 300
}
.informations-content p span {
    color: var(--sec-color);
    font-weight: 500
}
.informations:hover .informations-content, 
.informations:hover .icon-content-container::before {display: block}
@media (max-width: 500px) {
    .informations {
        top: 40px;
        right: 30px
    }
    .informations-content p {font-size: 14px}
}
/* Informations icon styling */

/* Game styling */
.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.msg {
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 10px white;
    letter-spacing: 0.5px
}
.players-score {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.players-score p {
    color: #FFF;
    font-size: 22px;
    text-shadow: 0 0 10px #FFF;
    letter-spacing: 0.5px
}
.players-score p span {margin-left: 5px;}
@media (max-width: 500px)  {
    .msg {font-size: 13px}
    .players-score {width: 330px}
    .players-score p{font-size: 20px}
    .players-score p span {margin-left: 0}
}
.fields-container {
    height: 450px;
    width: 450px;
    margin-top: 8px;
    background-color: var(--game-back-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    padding: 20px;
    position: relative
}
@media (max-width: 500px)  {
    .fields-container {
        height: 360px;
        width: 360px
    }
}
/* win lines */
    /* verticale lines */
.fields-container .verticale {
    width : 7px;
    height: calc(100% - 60px);
    background-color: var(--sec-color);
    box-shadow: 0 0 10px var(--sec-color);
    border-radius: 6px;
    position: absolute;
    top: 30px;
}
.fields-container .verticale1 {
    left: 81px;
    display: none
}
.fields-container .verticale2 {
    left: calc(50% - 1px);
    transform: translateX(-50%);
    display: none
}
.fields-container .verticale3 {
    right: 81px;
    display: none
}
.fields-container .verticale-active {
    display: block;
    animation: verticale-win .4s ease;
}
@media (max-width: 500px)  {
    .fields-container .verticale {
        width : 6px;
    }
    .fields-container .verticale1 {
        left: 67px;
    }
    .fields-container .verticale2 {
        left: 50%;
        transform: translateX(-50%)
    }
    .fields-container .verticale3 {
        right: 67px;
    }
}
    /* horizontal lines */
.fields-container .horizontal {
    width : calc(100% - 60px);
    height: 7px;
    background-color: var(--sec-color);
    box-shadow: 0 0 10px var(--sec-color);
    border-radius: 6px;
    position: absolute;
    left: 30px
}
.fields-container .horizontal1 {
    top: 79px;
    display: none
}
.fields-container .horizontal2 {
    top: calc(50% - 3px);
    transform: translateY(-50%);
    display: none
}
.fields-container .horizontal3 {
    bottom: 83px;
    display: none
}
.fields-container .horizontal-active {
    display: block;
    animation: horizontal-win .4s ease
}
@media (max-width: 500px)  {
    .fields-container .horizontal {
        height: 6px;
    }
    .fields-container .horizontal1 {
        top: 65px;
    }
    .fields-container .horizontal3 {
        bottom: 69px;
    }
}
    /* diagonale lines */
.fields-container .diagonal {
    width : 515px;
    height: 7px;
    background-color: var(--sec-color);
    box-shadow: 0 0 10px var(--sec-color);
    border-radius: 6px
}
.fields-container .diagonal1 {
    position: absolute;
    top: 41px;
    left: 41px;
    transform: rotate(44deg);
    transform-origin: top left;
    display: none
}
.fields-container .diagonal2 {
    position: absolute;
    top: 41px;
    right: 41px;
    transform: rotate(-44deg);
    transform-origin: top right;
    display: none
}
.fields-container .diagonal-active {
    display: block;
    animation: diagonal-win .4s ease
}
@media (max-width: 500px)  {
    .fields-container .diagonal {
        width : 415px;
        height: 6px;
    }
    .fields-container .diagonal1 {
        top: 33px;
        left: 34px;
    }
    .fields-container .diagonal2 {
        top: 33px;
        right: 34px;
    }
}
/* win lines */

.fields-container div{
    color: var(--sec-color);
    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--sec-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}
@media (max-width: 500px)  {.fields-container div{font-size: 70px}}
.fields-container .line-right::before {
    content: '';
    background-color: var(--line-color);
    width: 10px;
    height: calc(100% + 10px);
    position: absolute;
    right: -10px;
    top: -5px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--line-color)
}
.fields-container .line-right-top::before {
    content: '';
    background-color: var(--line-color);
    width: 10px;
    height: calc(100% + 10px);
    position: absolute;
    right: -10px;
    top: -5px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--line-color)
}
.fields-container .line-right-top::after {
    content: '';
    background-color: var(--line-color);
    width: calc(100% + 10px);
    height: 10px;
    position: absolute;
    left: -5px;
    top: -10px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--line-color)
}
.fields-container .line-top::after {
    content: '';
    background-color: var(--line-color);
    width: calc(100% + 10px);
    height: 10px;
    position: absolute;
    left: -5px;
    top: -10px;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--line-color)
}
@media (max-width: 500px) {
    .fields-container .line-right::before,
    .fields-container .line-right-top::before {
        width: 7px;
    }
    .fields-container .line-right-top::after,
    .fields-container .line-top::after {
        height: 7px;
    }
}
.btn-container {
    width: 430px;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.reset {
    margin-top: 15px;
    background-color: var(--sec-color);
    border: none;
    color: #FFF;
    padding: 7px 15px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--sec-color);
    cursor: pointer;
    transition: .1s linear
}
.reset:active {transform: scale(95%)}
.btn-animation {animation: scale .7s infinite alternate ease-in-out}
/* Game styling */

/* Animations */
@keyframes scale {
    0% {transform: scale(1)}
    100% {transform: scale(110%)}
}
/* win lines animation */
@keyframes verticale-win {
    0% {height: 0}
    100% {height: calc(100% - 60px)}
}
@keyframes horizontal-win {
    0% {width: 0}
    100% {width: calc(100% - 60px)}
}
@keyframes diagonal-win {
    0% {width: 0}
    100% {width: 515px}
}

@media (max-width: 500px) {
    @keyframes diagonal-win {
        0% {width: 0}
        100% {width: 415px}
    }
}
/* win lines animation */

/* Animations */
